    <div class="footer">
        <span class="link"><a href="#">Contact</a></span>
        <span class="link"><a href="#">About author</a></span>
        <span class="link"><a href="#">View All Todos</a></span>
        <span class="link"><a href="#">View Github</a></span>
      </div>
    </body>
    </html>
