<<!DOCTYPE html>
<html lang="en" >
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
    rel="stylesheet"
  />

  <!-- Css file not used-->
  <link rel="stylesheet" type="text/css" href="style.css" />
  <title>Todo</title>
</head>
<body>
  <header class="header">
    <nav class="navbar">
      <span class="link"><a href="#">View All Todos</a></span>

      <!-- this link  to addTodo does not work -->
      <span class="link"><a href="/addTodo">Add Todos</a></span>
      <span class="link"><a href="#">Delete Todos</a></span>
    </nav>
  </header>
