<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Product</title>
  </head>
  <body>
    <form action="/users" , method="post">
      <input
        type="text"
        name="first_name"
        placeholder="Enter your first name"
      />
      <input type="text" name="last_name" placeholder="Enter your last name" />
      <input
        type="date"
        name="birth_date"
        placeholder="Enter your birth date"
      />
      <input type="text" name="gender" placeholder="Enter gender" />
      <input
        type="text"
        name="home_address"
        placeholder="Enter your home address"
      />
      <input
        type="text"
        name="country_of_residence"
        placeholder="Enter your country of residence"
      />
      <input type="number" name="phone" />
      <input type="password" name="password" />
      <input type="text" name="username" />
      <button type="submit">Add Product</button>
    </form>
  </body>
</html>
