<%- include(../include/header) -%>
<form action="/addTodo" method="post">
  <label for="title">Todo</label>
  <input type="text" name="title" />
  <label for="body">Todo Description</label>
  <textarea name="body" id="body" cols="30" rows="10"></textarea>
  <button type="submit">Add</button>
</form>
<%- include(../include/footer) -%>
